@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0;1,400&display=swap");

body {
  background-image: linear-gradient(
      45deg,
      rgba(128, 0, 128, 0.384),
      rgba(250, 128, 114, 0.568)
    ),
    url("img/background.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", "Sans serif";
}
