@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.63),
      rgba(0, 0, 0, 0.123)
    ),
    url("img/detoxcuresmoothie.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
}

h1 {
  font-family: "Dancing Script", cursive;
  margin-top: 50px;
  color: white;
  font-size: 60px;
}

.icone {
  width: 85px;
  height: 85px;
}

.content {
  align-items: center;
  width: 1060px;
  /* height: 450px; */
  margin-top: 50px;
  /* background-color: blue; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  display: inline-block;
  margin: 0 5px;
  color: white;
}

.pinky {
  width: 250px;
  height: 250px;
}
content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

article {
  margin: 70px;
  display: flex;
  width: 1060px;
  justify-content: space-around;
}

.description {
  margin: 20px;
}

.cocktail {
  padding: 30px 0;
  width: 1060px;
  background: linear-gradient(180deg, #feb4c3, #f59e28);
  text-align: center;
  color: white;
}

.concept {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 1060px;
}

.cards {
  margin: 50px;
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 1060px;
  background-color: #f59e28;
  color: white;
}
