.btn {
  padding: 8px 10px;
  letter-spacing: 1.5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  margin-top: 35px;
  /* justify-content: center;
  align-items: center;
  position: relative; */
  color: #333 !important;
  background: white;
  /* outline: none;
  border: none; */
  border-radius: 20px;
  /* overflow: hidden; */
  cursor: pointer;
  margin: 0 25px;
}

/* .btn:before {
  content: "";
  height: 100%;
  width: 20%;
  background: #6e8e9b;
  backdrop-filter: blur(1px);
  position: absolute;
  left: 0;
  transition: 0.8s linear;
  opacity: 0;
  display: none;
} */

.btn:hover {
  box-shadow: 0px 0px 10px 4px #6e8e9b;
  color: #333;
}

/* .btn:hover::before {
  transform: skew(45deg);
  filter: hue-rotate(300deg);
  left: 75%;
  width: 50%;
  opacity: 1;
  background: #6e8e9b;
} */
