@import url("https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:wght@400;700&display=swap");

/* CLASSE UTILITAIRE*/
.blue {
  color: #6e8e9b;
}

.icone {
  width: 125px;
  height: 125px;
}

.rond {
  border-radius: 50%;
  background-color: white;
  padding: 15px;
}

.reverse {
  flex-direction: row-reverse;
}

.text-yoga {
  margin: 25px;
}

.separator {
  width: 3px;
  height: 75px;
  background-color: #6e8e9b;
  border-radius: 10%;
  margin: 50px 0;
}

.logo {
  width: 55px;
  height: 55px;
}

/* .btn {
  color: black;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.459);
  border-radius: 20px;
  padding: 10px;
} */

.btn:hover {

}

/* a.btn {
  margin: 15px;
} */

.img-size {
  height: 350px;
  width: 450px;
}

/* ********************************* */

body {
  font-family: "Raleway", sans-serif;
}

main {
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.content {
  /* background-color: blueviolet; */
  width: 1060px;
  /* height: 3000px;  */
}

header {
  /* background-color: purple; */
  
  padding: 50px;
  text-align: center;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.315)
    ),
    url(img/yogamat.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}

header h1 {
  font-size: 100px;
  font-family: "Mandali", sans-serif;
  margin: 40px;
}

.main-title {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
}

ul {
  color: white;
  display: flex;
  flex-direction: row;
}
ul li {
  margin: 10px;
}

article {
  /* display: flex;
  flex-direction: column; */
  /* background-color: pink; */
}

.description-yoga {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  /* background-color: green; */
}

/* .cours {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 350px;
} */

.art-cour {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  
  
}

.call {
  display: flex;
  align-items: center;
}
.button {
  margin: 32px;
  color: #333;
  font-size: 16px;
  background-color: white;
  padding: 10px;
  /* box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.459); */
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  
}
.renseignement {
  display: flex;
  flex-direction: column;
}


.button:focus {
background-color: #6e8e9b;
border: 1px solid #6e8e9b;
color: white;
  
}
.selection {
  margin: 65px 0;
}

footer {
  display: flex;
  background-color: #6e8e9b;
  color: white;
  height: 65px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

label {
  width: 200px;
}

select {
  margin-left: 35px;
  width: 170px;
}

input {
  border: 1px solid rgb(250, 247, 247);
  background-color: rgba(187, 186, 186, 0.466);
  width: 250px;
  height: 30px;
}
